@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>inicio de la administracion, donde se mostrara las estadisticas y menu correspondiente</p>
